--extra-index-url https://download.pytorch.org/whl/cu113

# Package
numpy
matplotlib
pandas
tabulate
tqdm
gymnasium
dill
sortedcontainers
torch
pytorch-lightning
stable-baselines3

# Development
tensorboardX
pytest
PyQt5
toml
flake8-bugbear
pep8-naming
pydocstyle
Sphinx
sphinx-rtd-theme
build
jupyterlab
torch-tb-profiler
ipywidgets
